<div class="fb-page-wrapper">
  <div
    class="fb-page"
    data-href="https://www.facebook.com/profile.php?id=100063835809584"
    data-tabs="timeline"
    data-width="900"   
    data-height="1024"
    data-small-header="false"
    data-adapt-container-width="true"
    data-hide-cover="false"
    data-show-facepile="true">
    <blockquote
      cite="https://www.facebook.com/profile.php?id=100063835809584"
      class="fb-xfbml-parse-ignore">
      <a href="https://www.facebook.com/profile.php?id=100063835809584">
        Credence Broadcast Services
      </a>
    </blockquote>
  </div>
  </div>
