<!-- Store Navbar (styled) -->
<nav class="navbar navbar-expand-lg store-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <i class="bi bi-lightning-charge-fill"></i>
      Kapzo
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#storeNav" aria-controls="storeNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="storeNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" routerLink="/"> <i class="bi bi-house-fill"></i> Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/HomeDashboard/AboutUs"> <i class="bi bi-file-person-fill"></i> About Us</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="bi bi-menu-button-wide-fill"></i> NewsLetter</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/HomeDashboard/Blog">Blog</a></li>
            <li><a class="dropdown-item" routerLink="/HomeDashboard/FacebookPage">Facebook page</a></li>
            <li><a class="dropdown-item" routerLink="/HomeDashboard/YoutubeVideo">YouTube Video</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" routerLink="/HomeDashboard/GiftCard"> <i class="bi bi-gift"></i> Offer & Gift</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/HomeDashboard/HowWeWork"> <i class="bi bi-question-diamond"></i> How We Work</a></li>
      </ul>

      <form class="d-flex me-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i></button>
      </form>

      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/HomeDashboard/Help"><i class="bi bi-person-raised-hand"></i> Help & Support</a></li>
        <li class="nav-item dropdown nav-profile">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> Account
          </a>
          <ul class="dropdown-menu profile">
            <li><a class="dropdown-item" routerLink="/login">Login</a></li>
            <li><a class="dropdown-item" routerLink="/Storelogin">Login as Store</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
