
<!-- Code here -->

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center text-center mb-4">
      <div class="col-lg-8 col-xxl-7">
     
        <h2 class="display-5 fw-bold">How We Works</h2>
        <p class="lead">हम कैसे काम करते हैं.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="text-center position-relative">
          <div class="step-icon mx-auto bg-primary border rounded-circle d-flex align-items-center justify-content-center" style="width:120px;height:120px;">
<i class="bi bi-bag-check-fill" style="font-size: 4rem; color: rgb(246, 245, 250); padding: 5px;"></i>
          </div>
          <h4 class="mt-3 fs-5">Make A List ( एक लिस्ट बनाइए ) </h4>
          <p class="lead text-muted mt-4 fs-5 px-lg-3 mb-5 mb-lg-0">You will create a list (like a wishlist) to which you will add product items. आप अपनी एक लिस्ट बनाएंगे (विशलिस्ट जैसा) जिसमें आप प्रोडक्ट आइटम ऐड करेंगे।</p>
          <div class="arrow-icon position-absolute d-none d-lg-block" style="top:50px; right:-25px">
        
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-center position-relative">
          <div class="step-icon mx-auto bg-primary border rounded-circle d-flex align-items-center justify-content-center" style="width: 120px;height: 120px;">
           <i class="bi bi-truck" style="font-size: 4rem; color: rgb(246, 245, 250); padding: 5px;"></i>
          </div>
          <h4 class="mt-3 fs-5">At Your Place आप की जगह पर</h4>
          <p class="lead text-muted mt-4 fs-5 px-lg-3 mb-5 mb-lg-0">We will pick up the product and go to your specified location on time. हम उत्पाद लेकर आप के दिए गए स्थान/समय पर जाएंगे।.</p>
          <div class="arrow-icon d-none d-lg-block position-absolute" style="top:50px; right:-25px">
           
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-center position-relative">
          <div class="step-icon mx-auto bg-primary border rounded-circle d-flex align-items-center justify-content-center" style="width: 120px;height: 120px;">
          <i class="bi bi-hand-thumbs-up" style="font-size: 4rem; color: rgb(246, 245, 250); padding: 5px;"></i>
          </div>
          <h4 class="mt-3 fs-5">Like / Evaluate पसंद कीजिये</h4>
          <p class="lead text-muted mt-4 fs-5 px-lg-3 mb-5 mb-lg-0">Look at the products from the list in front of you, choose the ones. लिस्ट में से प्रोडक्ट को अपने सामने देखिये और पसंद कीजिये| </p>
        
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-center position-relative">
          <div class="step-icon mx-auto bg-primary border rounded-circle d-flex align-items-center justify-content-center" style="width: 120px;height: 120px;">
           <i class="bi bi-bag-fill" style="font-size: 4rem; color: rgb(246, 245, 250); padding: 5px;"></i>
          </div>
          <h4 class="mt-3 fs-5">Buy/Reject खरीदें/अस्वीकार करें</h4>
          <p class="lead text-muted mt-4 fs-5 px-lg-3 mb-5 mb-lg-0">If you like the product then buy it, otherwise reject it. आपको प्रोडक्ट पसंद आएगा तो खरीदिए, वरना रिजेक्ट कर दीजिएगा..</p>
        </div>
      </div>
    </div>
  </div>
</section>





<div class="container py-2">
  <h2 class="font-weight-light text-center text-muted py-3"> Journey</h2>

  <!-- timeline item 1 -->
  
  <!--/row-->
  <!-- timeline item 2 -->
  <div class="row">
    <div class="col-auto text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-end">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge rounded-pill bg-success">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-end">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col py-2">
      <div class="card border-success shadow">
        <div class="card-body">
         
          <h4 class="card-title text-success">Your Journey</h4>
          <p class="card-text">You will register/login on the  website/app and you will create your watchlist (like a wishlist) in which you will add product items.<b>You will have two options: आप वेबसाइट/ऐप पर पंजीकरण/लॉगिन करेंगे और आप अपनी वॉचलिस्ट (एक इच्छा सूची की तरह) बनाएंगे जिसमें आप आइटम जोड़ेंगे। आपके पास दो विकल्प होंगे:</b></p>
          <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-target="#t2_details" data-bs-toggle="collapse">Show Details ▼</button>
          <div class="collapse border" id="t2_details">
            <div class="p-2 font-monospace">
              <div>  </div>
              <div><b>Shop Visit Service दुकान पर सेवा→</b>  We will get the items of your watch list be ready at your scheduled time. Now Come and pick from the list and save your time. हम आपकी वॉच लिस्ट की चीज़ें आपके तय समय पर तैयार कर देंगे। अब आइए और लिस्ट में से चुनकर अपना समय बचाइए। </div>
              <div> <b>Quick Service  त्वरित सेवा → </b>We will bring the product to your preferred location within 10 minutes or at your scheduled time. You will see the product.If you like the product then you will purchase it, otherwise you will reject it.हम 10 मिनट के भीतर या आपके निर्धारित समय पर उत्पाद आपके पसंदीदा स्थान पर पहुँचा देंगे। आप उत्पाद देखेंगे। अगर आपको उत्पाद पसंद आएगा तो आप उसे खरीद लेंगे, अन्यथा अस्वीकार कर देंगे।</div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <!--/row-->
  <!-- timeline item 3 -->
 <div class="row">
    <div class="col-auto text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-end">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge rounded-pill bg-success">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-end">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col py-2">
      <div class="card border-success shadow">
        <div class="card-body">
         
          <h4 class="card-title text-success">Our Journey</h4>
          <p class="card-text">We will see your watchlist request on the dashboard and confirm whether the shop visit or quick service request will be accepted. हम डैशबोर्ड पर आप की वॉचलिस्ट अनुरोध देखेंगे और पुष्टि करें कि दुकान का दौरा या त्वरित सेवा अनुरोध स्वीकार किया जाएगा या नहीं।</p>
          <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-target="#t2_details2" data-bs-toggle="collapse">Show Details ▼</button>
          <div class="collapse border" id="t2_details2">
            <div class="p-2 font-monospace">
              <div>  </div>
              <div><b>After accepting, the system will automatically send you notification</b> स्वीकार करने के बाद, सिस्टम स्वचालित रूप से आपको सूचना भेजेगा </div>
              <div><b>We will come to your specified location/time with the product.</b>  हम उत्पाद लेकर आपके दिए गए स्थान/समय पर आएंगे।</div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <!--/row-->

</div>
<!--container-->